.pile {
	position: absolute;

	background: rgba(var(--pile-rgb), 0.1);
	border: 3px solid rgba(var(--pile-border-rgb), 0.3);
	border-radius: var(--pile-border-radius);
}

.pile:hover,
.pile:focus,
.cursorPile {
	background: rgba(var(--pile-rgb), 0.3);
	border-color: rgba(var(--pile-border-rgb), 0.5);
}

.cursorBox {
	position: absolute;
	pointer-events: none;

	z-index: 1000;
	border-radius: var(--cursor-border-radius);
}

.cursor {
	border: 2px solid magenta;
}

.selection {
	border: 2px solid yellow;
}

.available-high {
	border: 2px solid cyan;
}

.available-low {
	border: 2px solid blue;
}
