.pile {
	position: absolute;

	background: rgba(var(--pile-rgb), 0.1);
	border: 3px solid rgba(var(--pile-border-rgb), 0.3);
	border-radius: var(--pile-border-radius);

	/*
		pile have their shorthandPosition inside for unit testing,
		but it doesn't look nice in the UI
		I can't find a more aria appropriate way to do this.
		REVIEW (hud) Is invisible still accessible?
	*/
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: transparent;
}

/* TODO (hud) (2-priority) piles don't need the focus style for mouse, only for keyboard */
/* TODO (optimize) two sets of styles, one for mouse one for keyboard? */
.pile:hover,
.pile:focus,
.cursorPile {
	background: rgba(var(--pile-rgb), 0.3);
	border-color: rgba(var(--pile-border-rgb), 0.5);
}

.cursorBox {
	position: absolute;
	pointer-events: none;

	z-index: 1000;
	border-radius: var(--cursor-border-radius);
}

.cursor {
	border: 2px solid magenta;
}

.selection {
	border: 2px solid yellow;
}

.available-high {
	border: 2px solid cyan;
}

.available-low {
	border: 2px solid blue;
}
