.pile {
	position: absolute;

	background: rgba(var(--pile-rgb), 0.1);
	border: 3px solid rgba(var(--pile-border-rgb), 0.3);
	border-radius: 4px;
}

.pile:hover,
.pile:focus,
.cursorPile {
	background: rgba(var(--pile-rgb), 0.3);
	border-color: rgba(var(--pile-border-rgb), 0.5);
}

.cursorBox {
	--movement-time: 0.3s;

	position: absolute;
	pointer-events: none;

	/* REVIEW just a basic movement transition to get things moving (started) */
	transition:
		top var(--movement-time) ease 0s,
		left var(--movement-time) ease 0s,
		height var(--movement-time) ease 0s;

	z-index: 1000;
	border-radius: 5px;
}

.cursor {
	border: 2px solid magenta;
}

.selection {
	border: 2px solid yellow;
}

.available {
	border: 2px solid cyan;
}
