.common > *:not(pre) {
	user-select: none;
}

.main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.inline {
	position: relative;
	width: 400px;
	max-width: calc(100vw - 6ch);
	height: 300px;
	border: 1px solid rgba(var(--pile-border-rgb), 0.5);
	border-radius: var(--pile-border-radius);
}

.winmessage {
	position: absolute;
	left: 0;
	right: 0;

	text-align: center;
}

.keyboardcursor {
	position: absolute;

	margin-left: -1em;
	user-select: none;
}

/* REVIEW (techdebt) restyle undo button */
.undoButton {
	position: fixed;
	bottom: 2em;
	right: 2ch;
	z-index: 1;

	margin: 0;
	padding: 0;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
}

.undoButtonText {
	font-size: 2.5rem;
}

.status {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 1.4em;
	line-height: 1.4em;

	display: flex;
	align-items: center;
	gap: 2ch;

	padding: 0 1ch;
}

.statusspacer {
	flex: 1;
}
