.main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.winmessage {
	position: absolute;
	left: 0;
	right: 0;

	text-align: center;
}

.keyboardcursor {
	position: absolute;

	margin-left: -1em;
	user-select: none;
}

.status {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 1.4em;
	line-height: 1.4em;

	display: flex;
	align-items: center;
	gap: 2ch;

	padding: 0 1ch;
}

.statusspacer {
	flex: 1;
}
