.allplayingcards {
	display: grid;
	grid-template-columns: repeat(13, min-content);
	grid-template-rows: auto;
	gap: 2px;
	padding: 2px;
	/* TODO (drag-and-drop) disable selection in more places; see screenshot, ctrl+A, Ace in foundation */
	user-select: none;
}
