.allplayingcards {
	display: grid;
	grid-template-columns: repeat(13, min-content);
	grid-template-rows: auto;
	gap: 2px;
	padding: 2px;
	/* FIXME disable selection in more places; see screenshot, ctrl+A, Ace in foundation (svgs) */
	user-select: none;
}
