.instructions ol {
	counter-reset: item 0;
}
.instructions ol[start='2'] {
	counter-reset: item 1;
}
.instructions ol[start='3'] {
	counter-reset: item 2;
}
.instructions ol li {
	display: block;
}
.instructions ol li:before {
	content: counters(item, '.') ' ';
	counter-increment: item;
}

.instructions > ol > li + li {
	margin-top: 1em;
}

.instructions li > *:not(ol) {
	margin-left: 3ch;
}

.allplayingcards {
	display: grid;
	grid-template-columns: repeat(13, min-content);
	grid-template-rows: auto;
	gap: 2px;
	padding: 2px;
	user-select: none;
}
