.lens_wrapper {
	position: relative;
}

.lens_center {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	left: 0;
	top: 0;
	background: radial-gradient(
		closest-side circle at center,
		hsl(4 5% 100% / 100%) 0%,
		hsl(4 5% 100% / 100%) 15%,
		hsl(4 10% 70% / 70%) 30%,
		hsl(4 0% 50% / 30%) 55%,
		hsl(4 0% 10% / 5%) 75%,
		transparent 99%
	);
	filter: blur(4px);
}
.lens_center::before {
	content: '';
	display: block;
	width: 200%;
	height: 200%;
	left: -50%;
	top: -50%;
	position: absolute;
	border-radius: 100%;
	background: radial-gradient(
		closest-side circle at center,
		hsl(4 15% 70% / 15%) 0%,
		transparent 100%
	);
}

.lens_center::after {
	content: '';
	display: block;
	width: 4vmin;
	height: 4vmin;
	left: 55%;
	top: 55%;
	position: absolute;
	border-radius: 100%;
	background: radial-gradient(
		closest-side circle at center,
		hsl(4 30% 70% / 60%) 15%,
		transparent 75%
	);
}

.lens_circle_1 {
	width: 60%;
	height: 60%;
	left: 75%;
	top: 75%;
	border-radius: 100%;
	position: absolute;
	background: radial-gradient(
		closest-side circle at center,
		transparent 40%,
		hsl(4 10% 70% / 40%) 90%,
		transparent 100%
	);
	filter: blur(4px);
}

.lens_circle_2 {
	width: 35%;
	height: 35%;
	left: 70%;
	top: 70%;
	border-radius: 100%;
	position: absolute;
	background: hsl(4 10% 60% / 30%);
	filter: blur(2px);
}
